h3{
  background-color: lightblue;
  border: solid blue;
  text-align: center;
  padding: 1em;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  
}
table{
  text-align: center;
  margin: 4em;
  border-spacing: 1em;
  
}
#MyInfoTable{
  background-color: lightblue;
  border: solid blue;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-spacing: 1em;
  width: 55%;
 margin-left: auto;
 margin-right: auto;
}
img{
  width: 10em;
}
#buttons{
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  padding: 1em;
  font-weight: bold;
}
button{
  font-weight: bold;
  color: darkblue;
}
.red-car{
  color:red;
  padding: 1em;
}
.blue-car{
  color:blueviolet;
  padding: 1em;
}
#carLabel{
  color:red;
  font-weight: bold;
  font-size: large;
}
.account{
  color: yellow; 
}
::ng-deep.mat-tab-labels, .mat-tab-label, .mat-tab-link{
  background-color:#d6ffcd;
}
/* .nav-mat-tab-nav-bar{ 
  background-color:green;
} 
/* I could not figure this one out, whenever I would try to change just the tabs, the whole body would change to green.  */
   
#example-stretched-tabs mat-elevation-z4{
  background-color: green;
  color: green; 
}
